.navigator {
    -fx-background-color: rgb(228, 221, 221);
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,2,3,0;
    -fx-font-family:  "Helvetica";
    -fx-text-fill:  black;
    -fx-font-size:  14px;
}

.navigator:hover {
    -fx-background-color: rgb(163, 160, 160); 
    /* color: white; */
}

.guessButton {
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,2,3,0;
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-padding: 10 20 10 20;
  }
  
.guessButton:hover {
    -fx-background-color: rgb(226, 225, 148); 
    -fx-text-fill: black;
  }

  